
.product-page {
  display: flex;
  /* margin: 20px; */
}

.filter-container {
  padding: 15px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6; 
}


.card {
  margin-bottom: 20px;
}
::-webkit-scrollbar{
  display: none;
}


.no-products-found {
  padding: 40px;
  text-align: center;
}

.no-products-icon {
  margin-bottom: 20px;
}

.no-products-found h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #6c757d; /* You can adjust the color */
}

.no-products-found p {
  font-size: 1.1rem;
  color: #6c757d;
}
