.locator-img img{
    width: 20%;
}

.locator-top-head h2{
    color: #918e8e;
}

body{
    background-color: #efefef;
}

/* .location-head{
    padding-left: 10%;
    
}

.location-head h1{
    padding-left: 10%;
} */