.full-width-container {
  position: relative;
  width: auto;
  /* height: 100vh; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


body::-webkit-scrollbar {
  display: none;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 2rem;
  z-index: 1;
} */

.overlay-content {
  transform: translate(100%, 200%);
}

.overlay-text {
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.overlay-text2 {
  font-size: 1.1rem;
  font-weight: 500;
}

.chairman-message {
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  /* transition: opacity 0.3s ease; */
}

.chairman-head h1{
  font-size: 1.5rem;
}

.chairman-message p{
  text-align: justify;
  font-size: 1.2rem;
}

/* .full-width-container:hover .chairman-message {
  display: block;
} */


@media (max-width: 1024px) {
  .overlay {
    gap: 40px;
    font-size: 1.8rem;
  }

  .overlay-text2 {
    font-size: 1rem;
  }

  .chairman-message {
    font-size: 1rem;
    padding: 15px;
    bottom: 15px;
    left: 15px;
  }
}

@media (max-width: 767px) {
  .display-3 {
    font-size: 1.8rem;
  }

  .overlay-text2 {
    font-size: 0.9rem;
  }

  .chairman-message {
    font-size: 1rem;
  }


}
