.approve{
    border-radius: 10px;
    padding: 10px;
}

.test-approve p{
    font-size: 1.2rem;
}

@media (max-width:768px){
    .approve{
        font-size: 1.2rem;
    }

    .test-approve p{
        text-align: justify;
    }
}